.zomia-button-contact {
    padding: 4;
    /* margin-left: 194px; */
}
.section-main-title h1{
    font-size: 42px;
    margin-bottom: 2rem;
     margin-top: 0;
    line-height: 1.2;
    font-weight: 600;
    color: #121228;
    text-align: center;

}
.about-left {
    /* position: relative; */
    margin-top: -10rem;
    display: block;
    align-content: start;
}
.about-thumb {
    text-align: start;
}
.about-btn-ciber.left {
    margin-top: 35px;
}
.about-btn-ciber.left a {
    background: linear-gradient(to right, #FF8200 0%, #FF8200 97%);
    padding: 12px 41px;
    font-weight: 600;
}

.about-btn-ciber.left a i {
    padding: 0 0 0 7px;
    font-size: 16px;
}

.about-btn-ciber.left a:hover {
    background: linear-gradient(to right, #FF8200 0%, #FF8200 97%);
}


.header-donate-btn-ciber {
    display: inline-block;
}

.header-donate-btn-ciber a {
    display: inline-block;
    color: #fff;
    font-size: 17px;
	transition:0.3s;
}

.header-donate-btn-ciber a.header-btn-ciber {
    color: #fff;
    background: linear-gradient( to right, #FF8200  0%, #FF8200 97%);
    border: 1px solid #FF8200;
    padding: 9px 35px;
    vertical-align: middle;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
	transition:0.3s;
}
/* .header-donate-btn a:hover {
    background: #fff;
    border-color: #fff;
    color: #3C4280;
} */
.header-donate-btn-ciber a:hover {
    background: linear-gradient( to right, #FF8200 0%, #FF8200 97%);
    border-color: #695AF8;
    color: #fff;
}