.contact-section{
	box-shadow: 8px 9px 35px 0px rgb(145 145 145 / 24%);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10px;
    background: #fff;
    margin-bottom: 40px;
    z-index: 2;
}

.contact-address {
    /* width: 330px; */
    height: 102%;
    min-height: 250px;
    margin: auto;
    background: #3C4280;
    padding: 4rem;
    text-align: start;
    align-content: center;
}
.contact-icon i {
    font-size: 38px;
    background-image: none;
    height: 46px;
    width: 46px;
    line-height: 30px;
    color: #fff;
	padding-right: 17px;
}
.contact-inner .title h2 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
}
.contact-inner .description p {
    margin: 0;
    transition: .5s;
    color: #fff;
    margin-bottom: 25px;
}
.contact-title h2 {
    font-size: 32px;
    margin: 0 0 34px;
}

/* Para dispositivos pequeños, se ajusta la imagen del mapa */
@media (max-width: 767px) {
    .contact-section iframe {
        height: 300px;  
    }
}

/* Para mejorar la presentación de los contactos */
.contact-address .single-contact {
    display: flex;
    align-items: center;
}

.contact-address .single-contact .contact-icon i {
    font-size: 25px;
    color: white;
}  
